{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
    <!-- BOX Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <a href="#" class="logo">Marvelous</a>
        <div class="toggle" onclick="toggleMenu();"></div>

        <!-- Menu -->
        <ul class="menu">
            <li><a href="#home" onclick="toggleMenu();">Home</a></li>
            <li><a href="#about" onclick="toggleMenu();">About</a></li>
            <li><a href="#services" onclick="toggleMenu();">Services</a></li>
            <li><a href="#work" onclick="toggleMenu();">Work</a></li>
            <li><a href="#contact" onclick="toggleMenu();">Contact</a></li>
        </ul>
    </nav>
    <!-- Main Home Text And Image -->
    <section id="home">
        <div class="home-text">
            <h1>Hello, I'm <br>Martin <span>Marvin</span> <br>Enthusiast Web-developer.</h1>
            <!-- Button -->
            <a href="#contact">Hire Me</a>
        </div>
        <!-- Home Image -->
        <div class="home-img">
            <img src="{% static 'images/profile.jpeg' %}" alt="">
        </div>

        <!-- Social -->
        <div class="social">
            <i class='bx bxl-facebook'></i>
            <i class='bx bxl-twitter' ></i>
            <i class='bx bxl-github' ></i>
        </div>
    </section>

    <!-- About -->
    <section id="about">
        <div class="heading">
            <h2>About</h2>
            <p>My Introduction</p>
        </div>
        <div class="about-content">
        <!-- About Image -->
        <div class="about-img">
            <img src="{% static 'images/about.jpeg' %}" alt="">
        </div>
        <!-- About Text -->
        <div class="about-text">
            <h1>I'm Marvin</h1>
            <p>I am a student at Strathmore University studying Diploma in Business Information Technology. I am passionate about Web Development with HTML, CSS and JavaScript</p>
            <a href="#">Check my Cv</a>
        </div>
    </div>
    </section>

    <!-- Services -->
    <section id="services">
        <div class="heading">
            <h2>Services</h2>
            <p>Services We Offer,</p>
        </div>
        <div class="services-content">
            <!-- Boxes -->
            <div class="box">
                <img src="{% static 'images/html.png' %}" alt="">
                <h1>HTML Project</h1>
                <p>I love HTML because it is basically where we create all structures before styling them. It creates a good foundation of a solid website.</p>
            </div>

            <div class="box">
                <img src="{% static 'images/css-3.png' %}" alt="">
                <h1>CSS Project</h1>
                <p>CSS is my favorite. I love seeing nice looking icons, transitions, animations and more stuffs.</p>
            </div>

            <div class="box">
                <img src="{% static 'images/js.jpg' %}" alt="">
                <h1>Javasript Project</h1>
                <p>Personally I believe that a project without Javasript is like being on a boat with no control. It controls the users activities and make awesome UI and UX for clients.</p>
            </div>


        </div>
    </section>

    <!-- Work -->
    <section id="work">
        <div class="heading work-heading">
            <h2>Work</h2>
            <p>Work With Us</p>
        </div>
        <div class="work-content">
            <div class="work-text">
                <h1>I honestly believe in work delivery which is: <br> Quality Work</h1>
                <p>Web Developmen is not all about just delivery of work done with much quantity, but also quality of the work done. </p>
                <a href="#contact">Contact</a>
            </div>

            <div class="work-img">
                <img src="{% static 'images/work.jpg' %}" alt="">
            </div>
        </div>
    </section>


    <!-- Contact -->
    <section id="contact">
        <div class="heading color">
            <h2>Contact</h2>
            <p>Leave a message we will try to reply in 24 hours.</p>
        </div>
        <div class="contact-content">
            <div class="app">
                <h1>Connect With Us <br> By Our Apps </h1>
               <a href="#"><i class='bx bxl-facebook' ></a></i>
                <a href="#"><i class='bx bxl-instagram' ></a></i>
            </div>
            <div class="contact-form">
                <form action="" method="post">
                    {% csrf_token %}
                  
                    <label>Enter your name:</label>{{form.subject}}
                    <label>Enter your email:</label>{{form.email}}
                    <label>Enter your message:</label>{{form.message}}
                    <input type="submit" value="Send" class="contact-button" onclick="alert('Message Successfully Sent!')">
                    <script type="text/javascript">
                      // alert("Message successfully submitted!!!");
                    </script>
                </form>
            </div>
        </div>
    </section>

    <div class="copyright">
        <p>&#169; 2021 MarvinMartin All Right Reserves</p>
    </div>




    <!-- Scroll Animation -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Link To JS -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
